body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f1c1fd;
}
.login-container {
    background: #ffb8d6;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.login-container h2 {
    margin: 0 0 15px;
    font-size: 24px;
    text-align: center;
}
.login-container label {
    display: block;
    margin-bottom: 5px;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.login-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #ff00aa;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.login-container button:hover {
    background-color: #ff009d;
}